<h1>Disease</h1>
<form method="POST" action="/imre/Disease/">
    <label for="name">Name</label>
    <input type="text" name="name"/>
<br>
    <label for="description">Description</label>
    <input type="text" name="description"/>
<br>
    <input type="submit" value="Add Disease"/>
</form>