<form method="POST" action="/imre/Person/">
    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label for="dob">Date Of Birth</label>
    <input type="date" name="dob"/>

    <label>Administrator</label>
    <input type="checkbox" name="admin" value="false"/>

    <input type="submit" value="Add Person"/>
</form>

