<h1>Disease</h1>
<a href="/imre/addDisease">Add Disease</a>
<p>{{diseaseInDB}}</p>
<ul>
    {{#each diseaseInDB}}
        <li>
            <a href="/imre/Disease/{{_id}}">{{name}}</a>
        </li>
    {{/each}}
</ul>
<form method="POST" action="/imre/Disease/?_method=DELETE">
    <input type="submit" value="Delete No Name Disease"/>
</form>
