<h1>Person</h1>
<a href="/imre/addPerson">Add Person</a>

<ul>
    {{#each personInDB}}
        <li>
            <a href="/imre/Person/{{_id}}">{{name}}</a>
        </li>
    {{/each}}
</ul>
<form method="POST" action="/imre/Person/?_method=DELETE">
    <input type="submit" value="Delete No Name Person"/>
</form>