<h1>Vaccine Types</h1>
<form method="POST" action="/imre/VaccineType/{{vaccineTypeId}}?_method=PUT">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{vaccineTypeRecord.name}}"/>
<br>
    <label for="description">Description</label>
    <input type="text" name="description" value="{{vaccineTypeRecord.description}}"/>
<br>
    <input type="submit" value="Update Vaccine Type"/>
</form>

<form method="POST" action="/imre/VaccineType/{{vaccineTypeId}}?_method=DELETE">
    <input type="submit" value="Delete Vaccine Type"/>
</form>