<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Immunization Register</title>
    <!-- <link rel="stylesheet" href="/public/style.css" type="text/css"> -->
    <link rel="stylesheet", href="/style.css"  type="text/css">
</head>
<body>
    <h1>Immunization Register</h1>
    <!-- This is a place holder for the contents of the .hbs file -->
    <!-- that is rendered.   -->

    <h2 class="title">
    <ul class="ulMenu">
        <li><a href="/imre/Person">Person</a></li>
        <li><a href="/imre/Disease">Disease</a></li>
        <li><a href="/imre/VaccineType">Vaccine Type</a></li>
    </ul>
    </h2>

    <hr>

    {{{body}}}


    <div id="swimingFish">
        <div class="smallImg">
            {{!-- <img src="/Images/nemo.gif" alt="Nemo"> --}}
            <img src="/Images/syringe.gif" alt="Nemo">
        </div>
    </div><!-- end of "swimingFish" -->

</body>
</html>
